Source: ros-humble-edgefirst-msgs
Section: misc
Priority: optional
Maintainer: Sébastien Taylor <sebastien@au-zone.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rosidl-default-generators, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-edgefirst-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rosidl-default-runtime, ros-humble-std-msgs
Description: ROS2 Local Time service for multi-MCAP synchronization
